<h1>SQL Database Tables Guide</h1>
<p><b>For SMASH CS Fundamentals II: Data Analysis</b>
<br>This guide teaches you how to create, query, and manipulate a database with basic SQL statements. 
<br>
<br>Key SQL Queries and Clauses for this course:
<br>
<ul>
    <li>CREATE TABLE: <a href="https://www.tutorialspoint.com/sqlite/sqlite_create_table.htm">https://www.tutorialspoint.com/sqlite/sqlite_create_table.htm</a></li>
    <li>DROP TABLE: <a href="https://www.tutorialspoint.com/sqlite/sqlite_drop_table.htm">https://www.tutorialspoint.com/sqlite/sqlite_drop_table.htm</a></li>
    <li>ALTER TABLE: <a href="https://www.tutorialspoint.com/sqlite/sqlite_alter_command.htm">https://www.tutorialspoint.com/sqlite/sqlite_alter_command.htm</a></li>
    <li>INSERT: <a href="https://www.tutorialspoint.com/sqlite/sqlite_insert_query.htm">https://www.tutorialspoint.com/sqlite/sqlite_insert_query.htm</a></li>
    <li>DELETE: <a href="https://www.tutorialspoint.com/sqlite/sqlite_delete_query.htm">https://www.tutorialspoint.com/sqlite/sqlite_delete_query.htm</a></li>
    <li>SELECT: <a href="https://www.tutorialspoint.com/sqlite/sqlite_select_query.htm">https://www.tutorialspoint.com/sqlite/sqlite_select_query.htm</a></li>
    <li>UPDATE: <a href="https://www.tutorialspoint.com/sqlite/sqlite_update_query.htm">https://www.tutorialspoint.com/sqlite/sqlite_update_query.htm</a></li>
    <li>WHERE: <a href="https://www.tutorialspoint.com/sqlite/sqlite_where_clause.htm">https://www.tutorialspoint.com/sqlite/sqlite_where_clause.htm</a></li>
    <li>AND / OR: <a href="https://www.tutorialspoint.com/sqlite/sqlite_and_or_clauses.htm">https://www.tutorialspoint.com/sqlite/sqlite_and_or_clauses.htm</a></li>
    <li>ORDER BY: <a href="https://www.tutorialspoint.com/sqlite/sqlite_order_by.htm">https://www.tutorialspoint.com/sqlite/sqlite_order_by.htm</a></li>
    <li>LIMIT: <a href="https://www.tutorialspoint.com/sqlite/sqlite_limit_clause.htm">https://www.tutorialspoint.com/sqlite/sqlite_limit_clause.htm</a></li>
</ul>
<br>
Before we get started, here's some context.</p>

<hr>
<h2>What is a database?</h2>
<p>In the world of CS, a <b>database</b> is data organized into <b>tables</b> for computer processing.
<br>Such data is usually very large, comes from various sources, and quite messy. 
<br>Hence the need to organize it in a uniform way.
<br>
<br>A spreadsheet (e.g., Excel) can <i>behave</i> like a database table, but is not necessarily one.
<br>This is because spreadsheets can represent data in a non-uniform way.
<br>Spreadsheets are the wild west when it comes to data.  There are no rules, really.
<br>This means, in terms of structure, a spreadsheet is like a box of chocolates: you never know what you're going to get.
<br>
<br>On the contrary, database tables <b>must</b> be uniform. 
<br>"Uniform" means there are very strict rules that must be followed or the database will break. 
<br>Again, because there is so much data, things need to be well-defined and consistent.
<br>The rows and columns in a database table aren't just there for show, unlike with a spreadsheet.
<br>
<br>I hope as you play with databases, you'll slowly learn the rules through experience.
<br>Experience is the best teacher, after all.</p>

<h2>What are database table rules?</h2>
<p>I knew you'd ask.
<br>Take a look at this (from: http://www.plus2net.com/sql_tutorial/table-records.php):
<br><img src="table-example.png" alt="table-example.png">
<br>Those are the rules. Too simple, one might say.
<br>Namely, everything is a <b>record</b> (we see them as "rows"). 
<br>There are <b>no</b> "empty" rows. The size of the table is always exactly the number of records it contains.
<br>Records consist of a bunch of <b>fields</b>, like id, age, weight, favorite ice cream flavor, etc.
<br>These fields are the columns. They <i>define</i> the records.
<br>If you insert a record into the table, you'll need to insert values in the exact order that the fields appear.
<br>So if I add an employee to the table, I'd need to specify <i>EmpNo, Name, Age, Department, Salary,</i> in that exact order.
<br>Spreadsheets allow you to get away with organizing this stuff however you want. You can even use pictures, have empty rows, etc.
<br>Database tables be like, "Nah fam."

<h2>What is SQL?</h2>
<p><b>SQL</b> stands for <b>Structured Query Language</b>.
<br>SQL is usually pronounced <i>"sequel"</i>, but some people pronounce it <i>"es-kew-el"</i>. SQL itself doesn't care, and neither should you.
<br>SQL is a way to talk to a database and manage it with the quickness.
<br>SQL by itself is like sheet music, if you will, waiting to be played.
<br>For SQL to do anything, it needs a relational database.</p>

<h2>What is a relational database?</h2>
<p>You sure do ask a lot of questions.
<br>But that's cool. I like that. You're cool. I like you.
<br>
<br>You already know what a database is. In theory, at least.
<br>In a <b>relational database</b>, records in one table point or “relate” to records in other tables. 
<br>For example, in a “music” database, records in the “songs” table relate to records in both “artists” and “albums” tables. 
<br>Here's an illustration of the first example:
<br><img src="relational-example.png" alt="relational-example.png">
<br>
<br>This might not seem like a big deal right now. 
<br>And in terms of what you'll do in this class, it isn't.  
<br>But I just wanted to give you a taste of this, since I guarantee you you'll encounter them again one day.

<h2>What is a Relational Database Management System?</h2>
<p>A <b>Relational Database Management System (RDBMS)</b> is essentially the SQL engine managing the data.
<br>It's right there in the name: Relational. Database. Management. System. Mind = blown!
<br>
<br>There are many RDBMS in the industry that work with the standard SQL language, each with its own unique features. 
<br>Some popular ones are MySQL, PostgreSQL, Oracle Database, and Microsoft SQL Server.
<br>It's all still SQL, just with a hint of pepper here, a dash of object-oriented programming there... 
<br>So learning standard SQL syntax is the first step toward understanding these RDBMS.
<br>
<br>RDBMS, like all I just mentioned, usually require a client-server environment, since most databases exist on servers. 
<br>For example, your Facebook account data (pictures, status updates, etc) is not stored in your phone or computer.
<br>It is "fetched" from a gigantic database server, which is almost certainly managed by a RDBMS.
<br>
<br>We will use a lightweight RDBMS called <b>SQLite</b>. 
<br>SQLite uses standard-yet-simplified SQL syntax. 
<br>Most importantly, SQLite was made to be run within a client itself (i.e., your phone).
<br>It is popular among applications with embedded databases (e.g., a Pokemon game).</p>
<br>This makes it the easiest way to learn SQL syntax, since you don't need to configure anything.
<br>You'll see how easy it is to get a database up and running with just one simple line of code.
<br>
<br>Onward!
<hr>

<h2>Import sqlite3</h2>
<p>You need this to use SQLite within Python.</p>

In [1]:
import sqlite3

<h2>Connect to a database, create a cursor</h2>
<p>Let's work with a music database.
<br>We need to create a connection to it first.
<br>If the database doesn't exist, this code creates it for us as well.
<br>Note that the database file is located wherever your Python file is.

In [2]:
conn = sqlite3.connect("music.db")

<p>We'll also need a cursor or "cur". 
<br>"cur" simply refers to the thing that will be doing the fetching and inserting in database for us. 
<br>You can imagine it like a little robot scurrying all over the database, following our every command.</p>

In [3]:
cur = conn.cursor()

<hr>
<h2>A brief word on SQL statements and semicolons</h2>
<br>SQL consists of <b>statements</b>, which are like sentences.
<br>Now, outside of Python, these statements normally end with <b>semicolons (;)</b>.
<br>Example: 
<br><b>DROP TABLE IF EXISTS Artists;</b>
<br>Otherwise, you'd get "run-on statements". Which would be a problem... outside of Python.
<br>However, in Python we're passing one statement at a time. 
<br>And behind the scenes, Python automatically adds a semicolon to the end if a statement isn't there. 
<br>Long story short, they aren't needed in Python but they are standard elsehwere.
<br>So don't freak out that I'm not including them here. Nobody really does in Python. 
<br>Lazy programmers...
<hr>

<h2>Create a table</h2>
<p>We'll make just one table called "musicians".
<br>Our SQL statements are passed as strings to the Python function <b>cur.execute()</b>
<br>So get used to typing that.

In [4]:
# Drop (i.e., delete) the table if it already exists. 
# Otherwise you'll get an error the second time you run your program.
cur.execute("DROP TABLE IF EXISTS Musicians")

<p>Creating the table means defining each record's fields (i.e., the columns).
<br>Each field has a <b>name</b> and a <b>type</b>. 
<br>SQLite has only a few types you need to care about:
<ul>
    <li><b>TEXT</b>: any string ("Hello", "World", "123")</li>
    <li><b>INTEGER</b>: any integer (1, 5, -7)</li>
    <li><b>REAL</b>: any float (3.14, 95.2, 0.0)</li>
</ul>
There's also NULL, which I'll get to in a bit.</p>

In [5]:
cur.execute("CREATE TABLE Musicians("
            "artistId INTEGER PRIMARY KEY, "
            "name TEXT NOT NULL, "
            "genre TEXT, "
            "hometown TEXT)")

<p>Notice that I made artistId my <b>PRIMARY KEY.</b>
<br>That means it'll be used to identify the record.
<br>PRIMARY KEYs cannot have duplicates values, unlike other fields.
<br>
<br>Sidenote: 
<br>SQL statements can get pretty lengthy. 
<br>So you'll typically see me break one statement into several lines for readability. 
<br>The long way of writing the above: 
<br>
<br><b>cur.execute("CREATE TABLE Musicians(artistId INTEGER PRIMARY KEY, name TEXT, genre TEXT, hometown TEXT)")</b>
<br>
<br>See how long that line is? Yeah.</p>

<h2>Alter a table</h2>
<p>Sometimes you wish to add fields to your records.
<br>Perhaps, for instance, you have a table of basketball teams...
<br>...and each column represents a year's # of games won. 
<br>So you'd simply add one new column every year.
<br>You can accomplish this using the <b>ALTER TABLE</b> query.</p>

In [6]:
cur.execute("ALTER TABLE Musicians ADD COLUMN numAlbums INTEGER")

<p>You can also rename your table, like so.</p>

In [7]:
# Should drop the new name if it already exists.
cur.execute("DROP TABLE IF EXISTS Artists")
cur.execute("ALTER TABLE Musicians RENAME TO Artists")

<h2>Insert some records</h2>
<p>There are a few ways to do this.
<br>
<br><b>INSERT Method 1</b> 
<br>This method allows you to fill only certain fields. 
<br>Any fields you leave out will be entered as <b>NULL</b>, or empty.
<br>You can disallow NULL data for certain fields by including the <b>NOT NULL</b> clause, as I did with "name".</p>

In [8]:
conn.execute("INSERT INTO "
             "Artists(name, genre, hometown, numAlbums) "
             "VALUES('Keebler Elf Lamar', 'Hip Hop', 'Compton', 3)")

<p><br>Also, notice how I do not include artistId.
<br>Normally, SQL will just place a NULL value where you don't specify any data. 
<br>But for a PRIMARY KEY (like artistId), it will simply increment the value for you. 
<br>Pretty nifty, huh?</p>

<p><b>INSERT Method 2</b>
<br>This method is shorter, but you must fill all the fields. 
<br>You can enter NULL for the PRIMARY KEY and let SQL increment it for you. Just like above.
<br>But you cannot enter NULL for name, since we said we won't it.</p>

In [9]:
conn.execute("INSERT INTO Artists VALUES(null, 'Beethoven', 'Classical', 'Germany', 9)")

<p><b>INSERT Method 3</b>
<br>This is essentially identical to the above, but with one important distinction: those question marks are parameters.
<br>This method is cool because it mitigates a very simple hack called <b>SQL injection</b>.
<br>SQL injection is probably the easiest way to hack a poorly-secured database.
<br>You won't need to worry about it for our little project here. No one is trying to hack your database. 
<br>But it's good to learn this method anyway.
<br>
<br>If you're curious about SQL injection and how this method mitigates it, read this excellent explanation here: 
<br>https://stackoverflow.com/questions/13613037/is-this-python-code-vulnerable-to-sql-injection-sqlite3
<br>The posted comic is why folks humorously refer to SQL injection as "Bobby Tables." ^_^
</p>

In [10]:
conn.execute("INSERT INTO Artists VALUES(?, ?, ?, ?, ?)",
            (None, "IceJJFish", "????", "The Abyss", 1))

<p>You can insert multiple records using a loop.</p>

In [11]:
# Insert multiple records 
names = ["Tupac", "Bjork", "Debussy", "Coltrane"]
genres = ["Hip Hop", "Electronica", "Impressionism", "Jazz"]
hometowns = ["Harlem", "Iceland", "France", "Hamlet"]
albums = [5, 9, None, 45] # "None" in Python represents "NULL" in SQL

for i in range(0, len(names)):
    conn.execute("INSERT INTO Artists VALUES(?, ?, ?, ?, ?)",
                (None, names[i], genres[i], hometowns[i], albums[i]))

<h2>Select all fields from all records</h2>
<p><b>SELECT</b> is how we retrieve records from the table.
<br>We can be as general or as specific as we want using various <b>clauses</b> to modify our query.
<br>First we'll learn how to select all fields from all records from our table.</p>

In [12]:
# Give me everything!
cur.execute("SELECT * FROM Artists")

<p>The cursor now contains a bunch of rows, each one a record from the table.
<br>We can ask the cursor to give us one row at a time...</p>

In [13]:
# Get one record as a tuple
data = cur.fetchone()
print(data)

(1, 'Keebler Elf Lamar', 'Hip Hop', 'Compton', 3)

<p>...<em>some</em> rows...</p>

In [14]:
# Get as many rows as you specify, as a list of tuples
cur.execute("SELECT * FROM Artists")
data = cur.fetchmany(2)
print(data)

[(1, 'Keebler Elf Lamar', 'Hip Hop', 'Compton', 3), (2, 'Beethoven', 'Classical', 'Germany', 9)]

<p>...or all of its rows.</p>

In [15]:
# Get all rows as a list of tuples
cur.execute("SELECT * FROM Artists")
data = cur.fetchall()
print(data)

[(1, 'Keebler Elf Lamar', 'Hip Hop', 'Compton', 3), (2, 'Beethoven', 'Classical', 'Germany', 9), (3, 'IceJJFish', '????', 'The Abyss', 1), (4, 'Tupac', 'Hip Hop', 'Harlem', 5), (5, 'Bjork', 'Electronica', 'Iceland', 9), (6, 'Debussy', 'Impressionism', 'France', None), (7, 'Coltrane', 'Jazz', 'Hamlet', 45)]

<p>Notice how in either case, individual records are represented as <b>tuples.</b> 
<br>This is because records are supposed to be <b>immutable</b>. 
<br>You aren't supposed to be able to change their content or size.
<br>You can "update" records by changing values in certain fields.
<br>But this must be done within SQL itself, not Python. 
<br>I'll cover how in a bit.
<br>
<br>You can neatly print multiple rows like this:</p>

In [16]:
cur.execute("SELECT * FROM Artists")
for row in cur:
    print(row)

(1, 'Keebler Elf Lamar', 'Hip Hop', 'Compton', 3)
(2, 'Beethoven', 'Classical', 'Germany', 9)
(3, 'IceJJFish', '????', 'The Abyss', 1)
(4, 'Tupac', 'Hip Hop', 'Harlem', 5)
(5, 'Bjork', 'Electronica', 'Iceland', 9)
(6, 'Debussy', 'Impressionism', 'France', None)
(7, 'Coltrane', 'Jazz', 'Hamlet', 45)

<p>The best part about all this is you're still in Python.
<br>You know how to work with tuples and lists. 
<br>So you can do stuff like this.</p>

In [17]:
# Print the names of the first two records
cur.execute("SELECT * FROM Artists")
data = cur.fetchmany(2)
for row in data:
    print(row[1])

Keebler Elf Lamar
Beethoven

<p>This is one reason why Python is such a convient data analysis tool.
<br>It's also why I'm having you learn SQL from within it.
<br>Not only will you be able to do all that quantitative and visual stuff you've already covered...
<br>...but now you're armed with an embedded SQL database, to boot.
<br>All within one program!</p>

<h2>Select certain fields from all records</h2>
<p>Instead of using the * (asterisk), which gives us everything, we can specify the fields we want.</p>

In [18]:
# Select the name of all artists.
cur.execute("SELECT name FROM Artists")
for row in cur:
    print(row[0])

Keebler Elf Lamar
Beethoven
IceJJFish
Tupac
Bjork
Debussy
Coltrane

In [19]:
# Select the name and genre of all artists
cur.execute("SELECT name, genre FROM Artists")
for row in cur:
    print(row[0], ":", row[1])

Keebler Elf Lamar : Hip Hop
Beethoven : Classical
IceJJFish : ????
Tupac : Hip Hop
Bjork : Electronica
Debussy : Impressionism
Coltrane : Jazz

<h2>Select with clauses</h2>
<p>The <b>WHERE</b> clause lets us specify which records we want.
<br>You simply enter WHERE and an <b>expression</b> that can be evaluated as <b>True</b> or <b>False</b></p>

In [20]:
# Select all fields from records whose name is "Keebler Elf Lamar".
cur.execute("SELECT * FROM Artists WHERE name = 'Keebler Elf Lamar'")
print(cur.fetchone())

(1, 'Keebler Elf Lamar', 'Hip Hop', 'Compton', 3)

In [21]:
# Select the hometown of records whose artistId is between 2 and 5, inclusive.
cur.execute("SELECT hometown FROM Artists WHERE artistId >= 2 AND artistID <= 5")
for row in cur:
    print(row[0])

Germany
The Abyss
Harlem
Iceland

<p>The <b>ORDER BY</b> clause allows you to order the rows in cur by some field.
<br>If you order by an INTEGER or REAL field type, the values will be arranged in numerical order.
<br>If you order by a TEXT field type, the values will be arranged alphabetically.</p>

In [22]:
# Select all fields from all artists, but order by hometown.
cur.execute("SELECT * FROM Artists ORDER BY hometown")
for row in cur:
    print(row)

(1, 'Keebler Elf Lamar', 'Hip Hop', 'Compton', 3)
(6, 'Debussy', 'Impressionism', 'France', None)
(2, 'Beethoven', 'Classical', 'Germany', 9)
(7, 'Coltrane', 'Jazz', 'Hamlet', 45)
(4, 'Tupac', 'Hip Hop', 'Harlem', 5)
(5, 'Bjork', 'Electronica', 'Iceland', 9)
(3, 'IceJJFish', '????', 'The Abyss', 1)

In [23]:
# Select genres and numAlbums from all artists with artistId > 3, and order by numAlbums.
cur.execute("SELECT genre, numAlbums FROM Artists WHERE artistID > 3 ORDER BY numAlbums")
for row in cur:
    print(row[0], ":", row[1])

Impressionism : None
Hip Hop : 5
Electronica : 9
Jazz : 45

<p>The <b>LIMIT</b> clause allows you to specify how many rows you want cur to hold.
<br>This is very useful when you're just sampling a massive database.
<br>In such a case, you'd only want to see a few records to get a sense of how the data is structured.</p>

In [24]:
# Select all fields from all records, but limit to the first 3 records.
cur.execute("SELECT * FROM Artists LIMIT 3")
for row in cur:
    print(row)

(1, 'Keebler Elf Lamar', 'Hip Hop', 'Compton', 3)
(2, 'Beethoven', 'Classical', 'Germany', 9)
(3, 'IceJJFish', '????', 'The Abyss', 1)

<h2>Update record data</h2>
<p>You'll often need to update records in your table.
<br>This can be done with the <b>UPDATE</b> query.</p>

In [25]:
# Change Keebler Elf Lamar to Kendrick Lamar
cur.execute("UPDATE Artists SET name = 'Kendrick Lamar' WHERE name = 'Keebler Elf Lamar'")
cur.execute("SELECT * FROM Artists WHERE artistID = 1")
print(cur.fetchone())

(1, 'Kendrick Lamar', 'Hip Hop', 'Compton', 3)

<p>You can even update multiple fields at the same time.</p>

In [26]:
# Change IceJJFish's genre to R&B, and his numAlbums to 2
cur.execute("UPDATE Artists SET genre = 'R&B', numAlbums = 2 WHERE name = 'IceJJFish'")
cur.execute("SELECT * FROM Artists WHERE artistId = 3")
print(cur.fetchone())

(3, 'IceJJFish', 'R&B', 'The Abyss', 2)

<h2>Deleting records</h2>
<p>You can remove records from your table using the <b>DELETE</b> query.
<br>Unlike those filthy spreadsheets, all data below the record(s) you are deleting "move up".
<br>However, the PRIMARY KEY values do NOT change. 
<br>This is because PRIMARY KEYs are, as I said before, wholly unique values that identify records.
<br>Think of it like a Social Security Number.
<br>If someone dies, you aren't suddenly assigned a new SSN, are you?
<br>Same idea here.</p>

In [27]:
# Remove Debussy from the table
cur.execute("DELETE FROM Artists WHERE name = 'Debussy'")
cur.execute("SELECT artistId, name FROM Artists")
for row in cur:
    print(row[0], ":", row[1])

1 : Kendrick Lamar
2 : Beethoven
3 : IceJJFish
4 : Tupac
5 : Bjork
7 : Coltrane

<p>And of course, you can delete all records from a table like this:</p>

In [28]:
cur.execute("DELETE FROM Artists")
cur.execute("SELECT * FROM Artists")
print(cur.fetchall())

[]

<p>Uh oh... <strong>WHAT HAVE WE DONE?!?!</strong></p>

<h2>Committing transactions</h2>
<p>Worry not!
<br>So far, nothing we've done has been saved to the database itself.
<br>If you want to save any <b>transactions</b> you've made (i.e., CREATE, DROP, INSERT, DELETE)...
<br>...you simply "commit" (save) them with <b>conn.commit()</b>:</p>

In [29]:
# Save all changes to the database.
conn.commit()

<p>Uh... whoops. I actually did delete everything that time, then. 
<br>Oh well! I can just run this file again and take out that delete stuff.
<br>The next time I run this it'll be the <strong>SQL Sequel</strong>. 
<br>Hehehehe...

<h2>Closing your connection to the database</h2>
<p>When you're done working with your database, you should close the connection.
<br>If you didn't commit changes, they will be lost forever at this step.
<br>So often, you want to commit right before you close.
<br>In any case, be careful.</p>

In [30]:
conn.close()

<h2>That's all!</h2>
<p>There is more to SQL and databases, but this is all you'll need for this course. 
<br>Well, until I teach you how to <b>import csv files</b> in the next guide. 
<br>I suggest playing around with this more until you feel more comfortable. 
<br>And you can learn a lot by utilizing the excellent documentation I linked at the top.</p>